{% extends 'layout.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            Playlists Parser
        </div>
        <div class="panel-body">
            {{ form_start(form, {'method': 'POST', 'action': path('parser_index')}) }}
            {{ form_widget(form) }}

            <input type="submit">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}