{% extends 'layout.html.twig' %}


{% block style %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">
{% endblock %}


{% block js_footer %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js">
{% endblock %}


{% block body %}
    <table class="table table-striped" data-toggle="table">
        <thead>
            <th data-field="id">#</th>
            <th data-field="artist">Artist</th>
            <th data-field="track">Track</th>
            <th data-field="album">Album</th>
            <th data-field="genre">Genre</th>
            <th data-field="bpm">BPM</th>
            <th data-field="bitrate">Bitrate</th>
        </thead>

        <tbdoy>
            {% for entry in datas %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entry.artist }}</td>
                <td>{{ entry.trackName }}</td>
                <td>{{ entry.album }}</td>
                <td>{{ entry.genre }}</td>
                <td>{{ entry.bpm }}</td>
                <td>
                    {% if entry.bitrate > 0 %}
                        {{ entry.bitrate / 1000 }} Kb/s
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbdoy>
    </table>
{% endblock %}